.joinBlock {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  margin: 100px auto;
  background-color: #ad87ff;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.joinBlock_title {
  h2 {
    opacity: 0.85;
  }
}

.joinBlock_nick {
  input {
    border: 0px;
    height: 25px;
    border-radius: 5px;
    overflow-x: auto;
    cursor: pointer;
    padding: 5px;
    font-size: 19px;
  }
}

.joinBloc_joinTo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  button {
    padding: 5px;
    text-align: center;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(81, 81, 81);
    color: white;
    cursor: pointer;
  }
}
