.playerList {
  width: 425px;
  height: 271px;
  // border-radius: 15px;
  // box-shadow: 8px 10px 3px rgba($color: #000000, $alpha: 0.25);
  // background-color: #e3dfdf;
  background-size: cover;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 30px;
  background-image: url(../../assets/img/box_configure.svg);
  background-repeat: no-repeat;
  @media (max-width: 1750px) {
    height: 230px;
  }

  @media (max-width: 1320px) {
    width: 30vw;
  }
  @media (max-width: 650px) {
    width: 95%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}

.player_list {
  overflow-y: auto;
  li {
    font-size: 20px;
    font-weight: 500;
    list-style: none;
  }
}
